<div class="container-fluid ">

  <div class="row d-flex">
    <div class="col-md-8 pt-5">
      <h5 class="card-title "><strong>Teste prático C# - API RESTful with Angular 7</strong></h5>
      <p class="card-text">1. Desenvolva uma APIs RESTful com a API da Web ASP.NET, no projeto deve seguir as seguintes
        especificações. </p>
      <p class="card-text"> <strong>a. Controller Airplane -> Listagem de aeronaves que irão se relacionar com os
          passageiros.</strong><br />
        i. GetAllAirplane();<br />
        ii. FindAirplane(id);<br />
        iii. InsertAirplane(Airplane request);<br /></p>
      <p class="card-text"><strong>b. Controller Passangers -> Listagem de passageiros</strong>
        i. InsertPassanger(Passanger request);<br />
        ii. InsertPassangerToAirplane(PassangerToAirplane request);<br />
        iii. ChangePassanger(int id, IdAirplane);<br />
        iv. ListAllPassangerByAirplane(int idAirplane);<br />
      </p>
      <p class="card-text"><strong>c. Deve ser criada uma conexão com banco de dados (utilizar classe
          SqlConnection)</strong></p>
      <p class="card-text"><strong>d. Desenvolver um projeto de teste, construir teste unitário relacionado às chamadas
          das controllers.</strong></p>
      <p class="card-text"><strong>i. No teste unitário deve ser possível executar todos os métodos das controllers,
          fincando possível realizar as ações de CRUD pelo teste unitário.</strong></p>

      <br />

      <p class="card-text">2. Desenvolver um projeto com Angular7, o projeto deve conter 2 controllers com as seguintes
        funções:</p>
      <p class="card-text"><strong>a. Airplane</strong>
        <br />i. Listar aeronaves.<br /> </p>
      <p class="card-text"><strong>b. Passangers</strong>
        <br />i. Adicionar um passageiro.<br />
        ii. Alterar aeronave de um passageiro.
        <br /> </p>

    </div>
    <div class="o-foto col-md-4">
      <img src="assets/img/about.jpg">
    </div>
  </div>


</div>
